body {
    margin: 0;
}
.wrap {
    height: 100vh;
}
.width_100 {
    width: 100%;
}
.top_block {
    height: 25%;
}
.middle_block {
    height: 50%;
    background: #16457a;
}
.ghost_setup {
    border: 1px solid #CDD7E0FF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element {
    width: 15%;
    min-height: 30%;
    background: #6964e1;
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px 10px;
}
.emblem {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #16457a;
}
.photo_shifted {
    top: 85%;
}
.icon_shifted {
    top: -15%;
}
img {
    width: 100%;
    border-radius: 100px;
}
i {
    font-size: 25px;
    color: #CDD7E0FF;
}
h3 {
    font-size: 16px;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
    color: #CDD7E0FF;
    padding: 7px;
    background: #16457a;
    margin-bottom: 10px;
    border-radius: 5px;
}
p {
    font-size: 14px;
    text-align: justify;
    padding: 10px;
    margin: 0 0 10px 0;
}
.high_vertical_shift {
    top: 12.5%;
}
.low_vertical_shift {
    top: 62.5%;
}
.first_el_horizontal_shift {
    left: 25%;
}
.second_el_horizontal_shift {
    left: 42.5%;
}
.third_el_horizontal_shift {
    left: 60%;
}
.bottom_block {
    height: 25%;

}
.bottom_block, .top_block {
    background: #CDD7E0FF;
}